<h1> Adding a Product </h1>

<form action="/save_prod">

  What is the Name for the Product?<br>
  <input type "text" placeholder="ex. Shirt" name="type">
  <br>
  
  <input type= "submit" value="Submit">
</form>

<a href="/prod_menu">Back?</a>