<h1> Adding a Distributor </h1>

<form action="/save_dist">

  What is the Name for the Distributor?<br>
  <input type "text" placeholder="ex. ADV" name="company">
  <br>
  
  <input type= "submit">
</form>

<a href="/dist_menu">Back</a>