<p> What do you need to change?</p>
    
<ul>
  <li><a href="/serial_number">Serial Number</a></li>
  <li><a href="/dist_id">Distributor Id</a></li>
  <li><a href="/prod_id">Product Id</a></li>
  <li><a href="/name">Name</a></li>
  <li><a href="/description">Description</a></li>
  <li><a href="/cost">Cost</a></li>
  <li><a href="/quantity">Quantity</a></li>
</ul>

<a href="/home">Back</a>