<p>Put in the description you want</p>

<form action="/change_description">
  
  <input type="name" name="description">
  
  <input type="hidden" name="x" value="<%= params["x"] %>">
  
  <input type="submit">
</form>