<p>Put in the quantity you want</p>

<form action="/change_quantity">
  
  <input type="name" name="quantity">
  
  <input type="hidden" name="x" value="<%= params["x"] %>">
  
  <input type="submit">
</form>