<p>Put in the company you want</p>

<form action="/change_company">
  
  <input type="name" name="company">
  
  <input type="hidden" name="x" value="<%= params["x"] %>">
  
  <input type="submit">
</form>