<h1> Welcome</h1>
<h2>This is Delete Menu for Rightstuf</h2>
<p> What do you need to do</p>
    
<ul>
  <li><a href="/del_good">Delete a Good?</a></li>
  <li><a href="/del_dist">Delete a Distributor?</a></li>
  <li><a href="/del_prod">Delete a Product?</a></li>
  <li><a href="/home">Goods Menu</a></li>      
  <li><a href="/dist_menu">Distributors Menu</a></li>
  <li><a href="/prod_menu">Products Menu</a></li>
</ul>