<h1> Welcome</h1>
<h2>This is Distributors listing for the Rightstuf</h2>
<p> What do you need to do</p>
    
<ul>
  <li><a href="/list_dist">List of the Distributors</a></li>
  <li><a href="/add_dist">Add a Distributors</a></li>
  <li><a href="/change_dist">Change a Distributor</a></li>
  <li><a href="/home">Goods Menu</a></li>
  <li><a href="/prod_menu">Products Menu</a></li>
  <li><a href="/delete">Delete a Distributor?</a></li>
</ul>