<h1> Welcome</h1>
<h2>This is inventory listing for the Rightstuf warehouse</h2>
<p> What do you need to do</p>
    
<ul>
  <li><a href="/list_good">List of the Good/item</a></li>
  <li><a href="/add_good">Add a good/item</a></li>
  <li><a href="/change_good">Change a good/item</a></li>
  <li><a href="/dist_menu">Distributors Menu</a></li>
  <li><a href="/prod_menu">Products Menu</a></li>
  <li><a href="/delete">Delete a good?</a></li>
</ul>