<h1> Welcome</h1>
<h2>This is Product listing for the Rightstuf</h2>
<p> What do you need to do</p>
    
<ul>
  <li><a href="/list_prod">List of the Products/item</a></li>
  <li><a href="/add_prod">Add a Product</a></li>
  <li><a href="/change_prod">Change a Product</a></li>
  <li><a href="/home">Goods Menu</a></li>
  <li><a href="/dist_menu">Distributor Menu</a></li>
  <li><a href="/delete">Delete a Product?</a></li>
</ul>